
/* Website Cover Colors */
$col-cover-primary: #ecc400;
$col-cover-secondry: #261f51;
$col-cover-pale: #E8E8E8;
$col-cover-dark: #272727;


/* Vonoroi Chart Colors */
$col-lines: #261f51;
$col-initial-primary-fill: #261f51;
$col-selected-polygon: #ECC400;
$col-selected-site-fill: #261f51;
$col-selected-site-stroke: #261f51;
$col-sites-fill: none;
$col-sites-line: #261f51;