.links {
    stroke: #0B0B61;
    stroke-opacity: 0.2;
  }
  
  .polygons {
    fill: none;
    stroke: #0B0B61;
  }
  
  .polygons :first-child {
    fill: #424276;
  }
  
  .sites {
    fill: #0B0B61;
    stroke: #fff;
  }
  
  .sites :first-child {
    fill: #fff;
  }
  

 .q2-9{
    fill: pink;
}

  .q3-9{
      fill: green;
  }

.yellow{
    fill: yellow;
    stroke: aqua;
 }